<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>

<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="/">
		<img src="/images/bot_social_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
		BotSocial
	</a>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link active" href="/profile/<%=currentUser._id%>">Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link active" href="/logout">Logout</a>
		</li>
	</ul>
</nav>
