<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="#">
		<img src="/images/bot_social_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
		BotSocial
	</a>
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link active" href="/logout">Logout</a>
		</li>
	</ul>
</nav>
