<!DOCTYPE html>
<html>
<head>
	<title>BotSocial</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>
<body class='container'>
	<%include head.ejs%>
	<%if (flash_msg) {%>
		<div class="alert alert-success" role="alert">
			<%=flash_msg%>
	</div>
	<%}%>

	

