<script
src="https://code.jquery.com/jquery-3.3.1.min.js"
integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>

<style>
.copyright_footer {
	text-align: center;
}
</style>

<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="/">
		<!-- <img src="" width="30" height="30" class="d-inline-block align-top" alt=""> -->
		BotSocial
	</a>
	<% if (currentUser) {%>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link active" href="/profile/<%=currentUser._id%>">Profile</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/logout">Logout</a>
			</li>
		</ul>
		<%}%>
	</nav>
