<!DOCTYPE html>
<html>
<head>
	<title>BotSocial</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class='container'>
	<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/images/bot_social_icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
    BotSocial
  </a>
</nav>
	
