.story_image {
  height:500px;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.story_video {
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 1px solid lightgrey;

}
.profile_image {
  clip-path:circle(50% at center);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 5px;
  height: 60px;
  width: 60px;
  float: left;
}

.fa-thumbs-up, .fa-thumbs-down {
  margin-left: 6px;
}

.story_reactions {
  margin-top: 10px;
}

a {
  color: inherit;
}

.story_date {
  padding-top: 10px;
}


.story_date p {
  color: gray;
  font-size: 11px;
}

.like_button,.dislike_button,.comments_button {
margin-left: 5px;
margin-right: 5px;
}
