<%include partials/header.ejs%>
<link rel="stylesheet" href="/stylesheets/home.css">
<form ref="uploadForm" id="uploadForm" action="/story" method="POST" encType="multipart/form-data">
	<input type="file" id="story_image_input" name="image" accept="image/*" />
	<input type="file" id="story_video_input" name="video" accept="video/*" />
	<div class="input-group">
		<textarea class="form-control" name="text" placeholder="What's on your mind?"></textarea>
	</div>
	<div id="selected_image_container">
	</div>

	<div class="story_actions_container">
	<button id='story_submit_button' type="button submit" class="btn btn-success"><i class="fa fa-pencil-square-o"></i> Post</button>
	<button id='add_photo_button' type="button" class="btn btn-dark"><i class="fa fa-camera-retro"></i> Add Photo</button>
	<button id='add_video_button' type="button" class="btn btn-dark"><i class="fa fa-video-camera"></i> Add Video </button>
	</div>
</form>

<div class="stories_heading">
	<h2>Top Stories</h2>
</div>
<%include story_list.ejs%>

<script src="/js/home.js"></script>

<%include partials/footer.ejs%>
