<%include partials/header.ejs%>
<link rel="stylesheet" href="/stylesheets/home.css">
<form action="/story" method="POST">
	<div class="input-group">
		<div class="input-group-prepend">
		</div>
		<textarea class="form-control" name="text" placeholder="What's on your mind?"></textarea>
	</div>
	<br>
	<button id='story_submit_button' type="button submit" class="btn btn-success">Post</button>
</form>
<br>
<br>
<h2>Top Stories</h2>
<br>
<%include story_list.ejs%>
</div>
<%include partials/footer.ejs%>
