<%include partials/header.ejs%>

<!-- Custom styles for this template -->
<link href="/stylesheets/register_page.css" rel="stylesheet">

	<div class="form_container">
		<form class="form-signin container" action="/Login" method="POST">
			<div class="text-center mb-4">
				<img class="mb-4" src="/images/bot_social_icon.png" alt="" width="72" height="72">
				<h1 class="h3 mb-3 font-weight-normal">Login</h1>
				<p>Login using Email</p>
			</div>

			<div class="form-label-group">
				<input type="email" id="inputEmail" class="form-control" name="username" placeholder="Email address" required autofocus>
				<label for="inputEmail">Email address</label>
			</div>

			<div class="form-label-group">
				<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
				<label for="inputPassword">Password</label>
			</div>

			<div class="checkbox mb-3">
				<label>
					<input type="checkbox" value="remember-me"> Remember me
				</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
			<p class="mt-5 mb-3 text-muted text-center">&copy; 2018-2019</p>
		</form>
		<p align="text-center"><a href="/register">Not a member? Sign up</a></p>

	</div>
	<br>
	<%include partials/footer.ejs%>
