<%include partials/header.ejs%>
<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/profile.css">

<div id="user_detail_snippet">
  <div id="profile_image_container">
    <img src="" alt="">
  </div>
  <h1 id="username_text"><%=user.username%></h1>
</div>

<div class='container'>
  <div class="row">
    <div class='col-md-4 sidebar'>
      <p>Joined on <%=user.joinedDate%></p>
    </div>

    <div class='col-md-8 story_list'>
      <h2>Stories</h2>
      <%include story_list.ejs%>
    </div>

  </div>


</div>



<%include partials/footer.ejs%>
