<%include partials/header.ejs%>
<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/profile.css">
<div class='container' id="profile_container">
  <div class="row">
    <div class='col-md-4 sidebar'>
      <div id="user_detail_snippet">
        <form ref='uploadForm' id="uploadForm" action="/user/image" method="post" encType="multipart/form-data">
          <input type="file" id="file_input" name="image" accept="image/*">
          </input>
        </form>

      <div id="profile_image_container">
        <img id="profile_image" src="/images/<%=user._id%>.jpg" alt="">
      </div>

      <h1 id="username_text"><%=user.username%></h1>
    </div>

    <p>Joined on <%=user.joinedDate%></p>
  </div>

  <div class='col-md-8 story_list'>
    <h2>Stories</h2>
    <%include story_list.ejs%>
  </div>

</div>
</div>

<script>
$("#profile_image_container").click(function() {
  $("#file_input").click();
});

$("#file_input").change(function() {
  $("#uploadForm").submit();
});


</script>


<%include partials/footer.ejs%>
