#profile_image {
/* clip-path:circle(100px at center); */
min-width: 100%;
min-height: 100%;
max-width: 120%;
max-height: 120%;
width: auto;
height: auto;
object-fit: contain;
}

#profile_image_container {
clip-path:circle(50% at center);
  width: 200px;
  height: 200px;
  background-color: lightgrey;
  cursor: pointer;
  overflow: hidden;

}

#file_input {
  display: none;
}

#profile_container {
  margin-top: 25px;
}

#user_detail_snippet {
  width: 300px;
}

#username_text {
  margin-top: 10px;
}
