
#profile_image_container {
  clip-path:circle(100px at center);
  width: 200px;
  height: 200px;
  background-color: lightgrey;
}

.sidebar {
  padding-left: 0px;
}

#user_detail_snippet {
  margin-top: 20px;
  width: 300px;
}

#username_text {
  margin-top: 10px;
}
