.story_image {
  height:500px;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  max-width: 90%;
}
.profile_image {
  clip-path:circle(50% at center);
  margin-right: 5px;
  max-width: 40px;
  max-height: 40px;
}

.fa-thumbs-up, .fa-thumbs-down {
  margin-left: 6px;
}

.story_reactions {
  margin-top: 10px;
}

a {
  color: inherit;
}

.story_date {
  padding-top: 10px;
}


.story_date p {
  color: gray;
  font-size: 14px;
}
